{% extends "layout.html" %}
{% block body %}
    <h3>Upload your CSV file</h3>
    <form id="submit" action="/upload-csv" method="POST" enctype="multipart/form-data">
        <label for="csv">UUpload CSV File for AI Analysis</label>
        <input type="file" id="csvFile" name="file" accept=".csv">
        <button id="uploadButton" type="submit">Upload</button>
    </form>
    <div id="csvTable"></div>
    <script src="/static/scripts/main.js"></script> <!-- Reference javascript after all HTML elements have finished loading -->
{% endblock %}