{% extends "layout.html" %}

{% block body %}
    <h3>Please type your name and email below</h3>
    <form>
        <input type="text" name="firstname" placeholder="First Name">
        <input type="text" name="lastname" placeholder="Last Name">
        <input type="text" name="email" placeholder="Email">
        <input type="submit" value="submit">
    </form>

    <h3>Upload your CSV file</h3>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Upload CSV File for AI Analysis</label>
        <input type="file" name="file" accept=".csv">
        <button type="submit">Upload</button>
    </form>
{% endblock %}